@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.navbar{
  display: flex;
  padding-left:10px;
  padding-right:10px;
  background-color: rgb(214, 234, 253);
  gap:40px;
  align-items: center;
  border-bottom: .5px solid black;
}
.links{
  color:rgb(40, 150, 219);
  font-weight: bold;
  font-size:1.5rem;
}
.icon{
  font-size:3rem;
  padding:10px;
}
.navbar a:hover{
  color:purple;
  text-decoration: underline;
}
.banner{
  background-image: url('../public/images/banner5.jpg');
  background-size: cover;
  background-position: center;
  height:75vh;
  display: flex;
  align-items: flex-end;
  /* margin-top:20px; */
}
.movie-name{
  width:100%;
  background-color:rgba(0, 8, 8, 0.2) ;
  /* background:transparent; */
  text-align: center;
  padding:5px;
  color:white;
}
.title{
  width:100%;
  background:transparent;
  color:black;
  padding:5px;
  text-align: center;
  font-weight: bold;
  font-size:larger;
  margin-top:10px;
  margin-bottom: 15px;
}
.movie-box{
  /* background-color: red;2 */
  height:40vh;
  width:200px;
  border-radius:20px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5), -2px -2px 4px rgba(0, 0, 0, 0.3);
  background-size: cover;
  background-position: center;
  margin-bottom: 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:end;
  overflow: hidden;
}
.movie-box:hover{
  cursor: pointer;
  transform:scale(1.11);
  transition: transform 0.5s ease;
}
.movies-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
}
.movies{
  padding-left:10px;
  padding-right:10px;
}
.emoji{
  width: fit-content;
  /* position: absolute;
  top:0;
  left: 165px; */
  background-color: rgba(78, 77, 77, 0.8);
  color: white;
  padding: 2px;
  margin: 7px;
  border-radius: 8px;
}
.pagenation-strip{
  width: 100%;
  padding:5px;
  text-align: center;
  background-color: grey;
  color: white;
  font-size:20px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}
.watchlist-functions{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  flex-direction: column;
}
.buttons button{
  border-radius: 20px;
  padding: 10px;
  background-color:rgb(66, 186, 234);
  color: white;
  font-weight: bold;
  font-size: 18px;
  width: 150px;
}
.buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 50px;
  margin-bottom: 30px;
}
.buttons button:hover{
  transform: scale(1.1);
  transition: transform .5s ease;
}
.watchlist-functions input{
  border: .5px solid black;
  text-align: center;
  padding: 8px;
  background-color: rgb(222, 219, 219);
  border: none;
  width: 300px;
}
table{
  width: 95%;
  box-shadow: 0 8px 16px rgba(0.5, 0.5, 0.5, 0.5);
  border-collapse: collapse;
}
table td img{
  width: 150px;
  height: 6rem;
  padding: 10px;
}
table thead{
  background-color: gainsboro;
  text-align: left;
}
table thead th{
  text-align:left;
  padding: 10px;
}
table tbody td{
  width: fit-content;
}
.table-container{
  display: flex;
  justify-content: center;
}
.img-cell{
  width: 200px;
}
table tr{
  border-bottom: .1px solid rgb(221, 217, 217);
}
.delete-but{
  color: red;
  font-weight: 500;
  cursor: pointer;
}